
.wrapper {
 margin: 30px;
}
.first-section {
	height: 70%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
	margin: 50px;
    padding: 40px;
    margin-bottom: 70px;
}
@media screen and (max-width: 767px) {
	.first-section {
        padding: 20px;
        position: relative;
	}
}

.first-section__content {
    position: relative;
    top: calc(50% - 53px);
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: flex-start;
}

@media screen and (max-width: 767px) {
	.first-section__content {
        margin-top: 0;
        top: 0;
	}
}

.first-section__content .content-text {
	width: 33.3%
}

.first-section__content .content-text:nth-last-child(1) {
	margin-left: 30px
}

.first-section__content .content-text p {
	font-size: 22px;
	line-height: 22px;
	font-weight: 600;
	padding: 0 10px;
	margin: 0
}

@media screen and (max-width: 991px) {
	.first-section__content .content-text p {
		font-size: 14px;
		line-height: 14px;
		padding: 0
	}
}
@media screen and (max-width: 575px) {
	.first-section__content .content-text p {
		font-size: 12px;
		line-height: 12px;
	}
}
.first-section__content .content-img {
	width: 33.3%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start
}

.first-section__content .content-img img {
	max-height: 450px;
    width: 50%;
    height: 100%;
}

@media screen and (max-width: 767px) {
	.first-section__content {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column
	}
	.first-section__content .content-text {
		width: 100%;
		padding: 15px 0
	}
	.first-section__content .content-text:nth-last-child(1) {
		margin-left: 0px
	}
	.first-section__content .content-img {
		width: 100%;
		height: auto
    }
    .first-section__content .content-img img {
        width: 100%;
        max-height: 160px;
    }
}

.second-section {
	height: 90vh;
    margin: 20px;
    margin-bottom: 70px;
	text-align: center
}

.second-section__content {
	height: 100%
}

.second-section__content img {
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
	height: 100%
}

.third-section {
	height: 60vh;
	margin: 50px;
	padding: 5px
}

.third-section .slider {
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}
.third-section .slick-slide img {
    min-height: 250px;
}

.third-section .slider .prev {
	width: 40px;
	display: -webkit-box;
	display: -webkit-flex;
    display: -ms-flexbox;
    cursor: pointer;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	position: absolute;
	bottom: 5%;
	left: 50%;
	-webkit-transform: translate(-300%) scale(1);
	-ms-transform: translate(-300%) scale(1);
	transform: translate(-300%) scale(1);
	z-index: 2;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	-webkit-border-radius: 50%;
	border-radius: 50%
}

.third-section .slider .prev:hover {
	-webkit-transform: translate(-300%) scale(1.2);
	-ms-transform: translate(-300%) scale(1.2);
	transform: translate(-300%) scale(1.2);
	opacity: 0.3
}

.third-section .slider .prev img {
	width: 40px
}

.third-section .slider .next {
	width: 40px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
    display: flex;
    cursor: pointer;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	position: absolute;
	bottom: 5%;
	left: 50%;
	-webkit-transform: translate(300%) scale(1);
	-ms-transform: translate(300%) scale(1);
	transform: translate(300%) scale(1);
	z-index: 2;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	-webkit-border-radius: 50%;
	border-radius: 50%
}

.third-section .slider .next:hover {
	-webkit-transform: translate(300%) scale(1.2);
	-ms-transform: translate(300%) scale(1.2);
	transform: translate(300%) scale(1.2);
	opacity: 0.3
}

.third-section .slider .next img {
	width: 40px;
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg)
}

.third-section .slider img {
	max-height: 300px;
	padding: 0 10px;
	-o-object-fit: cover;
	object-fit: cover
}
